body {
  font-family: "Roboto";
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.header {
}

.navbar {
}

ul {
}

.header-content {
}

.header-text {
}

.main-content {
}

.main-content-images {
}

.content-image {
}

.quote-content {
}

.action-content {
}

.action-container {
}

.action-text {
}

.footer {
}
