body {
  font-family: "Roboto";
  margin: 0;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.dark-bg {
  background: #1F2937;
  color: #F9F1F8;
}

.container {
  display: flex;
  justify-content: space-evenly;
}


.header {
  height: 600px;
  gap: 80px;
}

.container .header {
  max-width: 1000px;
}

.header-logo {
  font-size: 24px;
  margin: 0;
}

.header a {
  font-size: 18px;
  color: #E5E7EB;
}

.navbar {
  margin-top: 20px;
  justify-content: space-between;
  align-items: baseline;
}

ul {
  margin: 0px 0px 0px 20px;
  padding: 0;
  list-style-type: none;
}

li {
  margin: 10px;
}


.header-content {
  max-height: 220px;
  justify-content: space-around;
  gap: 80px;
}

h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 900;
}

.header-text {
  justify-content: space-between;
}

.header-text p{
  font-size: 18px;
  color: #E5E7EB;
  margin: 0;
}

.header-text button {
  background: #3882F6;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  margin-top: 12px;
  max-width: 110px;
  padding: 8px 0px;
  flex: 0 0 auto;
}





.main-content {
  justify-content: center;
  align-items: center;
  max-width: 860px;
  margin: 100px 0px;
}

h2 {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900px;
}

.main-content-images {
  gap: 40px;
}


.content-image {
  align-items: center;
  text-align: center;
  gap: 8px;
}

.content-image img {
  border: 4px solid #3882F6;
  border-radius: 20px;
}

.content-image p {
  margin: 0;
  font-size: 19px;
  color: #363636;
}


.quote-bg {
  background: #E5E7EB;
}

.quote-content {
  max-width: 860px;
  justify-content: center;
  align-items: center;
  margin: 100px 0px;
}

.quote-content p {
  margin: 0;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #1F2937
}

.signature {
  font-size: 24px;
  color: #000000;
  font-weight: 900;
  align-self: flex-end;
}

.action-content {
}

.action-container {
}

.action-text {
}

.footer {
}
